{% extends "base.html" %}

{% block content %}
<div class="content">

    <h2>{{title}}</h2>
    {% if no_session %}
    <p>There is currently no active session.</p>
    {% elif damages %}
    <table class="content_table">
        <tr>
            <th>Result</th>
            <th>Weapon</th>
            <th>Attacker</th>
            <th>Attacker Kind</th>
            <th>Target</th>
            <th>Target Kind</th>
            <th>Civilian?</th>
            <th>Time</th>
        </tr>
        {% for damage in damages %}
        <tr>
            <td>{{damage.health.name}}</td>
            <td>{{damage.weapon_type.name}}</td>
            <td>{{damage.attacker}}</td>
            <td>{{damage.attacker_kind}}</td>
            <td>{{damage.target}}</td>
            <td>{{damage.target_kind}}</td>
            <td>{{damage.civilian}}</td>
            <td>{{damage.damage_time}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no registered hits in the current session.</p>
    {% endif %}

</div>
{% endblock %}
