<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    {% if title %}
    <title>{{ title }} - Hunter</title>
    {% else %}
    <title>Welcome to Hunter</title>
    {% endif %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    {% if leaflet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="{{ url_for('static', filename='leaflet-providers.js') }}"></script>
    {% endif %}
</head>
<body>

<!-- START top navigation bar-->
<div class="fixed-header">
    <h1>Hunter Web UI</h1>
</div>

<!-- END top navigation bar-->
<!-- START menu bar-->
<!--
<div class="navbar">
    {%- for item in current_menu.children recursive -%}
    <ul>
        <li><a href="{{ item.url }}">{{ item.text }}</a>
            {%- if item.children -%}
        </li>
        {{ loop(item.children) }}
        {%- endif -%}
    </ul>
    {%- endfor -%}
</div>
-->
<p><a href="/">Home</a>
    &mdash; <a href="/docs/end_user.html">Documentation</a>
    &mdash; <a href="/ongoing_session/current_session">Current Session Information</a></p>
<!-- END menu bar-->

<!-- The real content -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- The generic footer -->
<div class="fixed-footer">
    <div class="container">Copyright &copy; 2021 Rick Gruber-Riemer</div>
</div>
</body>
</html>